<header class="header">
  <div class="header-wrapper container flex-mobile">
    <h1 class="header-logo">
      {% include_relative {{ page.pathSvg }}meteor.svg %}
    </h1>
    <ul class="header-menu">
      <li>
        <a href="https://github.com/zkreations/icons">GitHub</a>
      </li>
      <li>
        <a class="share-on" href="https://twitter.com/intent/tweet?text=Handmade%20by%20@danieI_abel%20and%20@zkreations,%20with%20the%20least%20possible%20code&url=https://icons.zkreations.com">
          Share on {% include_relative {{ page.pathSvg }}twitter.svg %}
        </a>
      </li>
    </ul>
  </div>
</header>
