<header class="header">
  <div class="header-wrapper container flex-mobile">
    <h1 class="header-logo">      
      {% include_relative assets/icons/meteor.svg %}
      <code class="header-version">{{ page.version }}</code>
    </h1>
    
    <nav class="header-menu">
      <a href="https://github.com/zkreations/icons">GitHub</a>
      <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Handmade%20by%20@danieI_abel%20and%20@zkreations,%20with%20the%20least%20possible%20code&url=https://meteoricons.com">
        Tweet
      </a>
      <button class="toggle-mode" aria-label="Toggle dark mode">
        {% include_relative assets/icons/sun.svg %}
        {% include_relative assets/icons/moon.svg %}
      </button>
    </nav>
  </div>
</header>
