{% assign tags = site.data.tags[include.icon.basename] | split: ", " | join " " %}
<li class="icon copy-block">
  <div class="icon-actions">
    <button class="action copy-name" aria-label="Copy icon name"></button>
    <button class="action copy-svg" aria-label="Copy icon SVG"></button>
    <button class="action copy-html" aria-label="Copy icon HTML"></button>
    <a class="action action-download" href="{{ include.icon.path }}" download aria-label="Download icon"></a>
  </div>
  <div class="icon-preview">
    <span class="icon-svg">
      {%- include_relative {{ include.icon.path }} -%}
    </span>
    <span class="icon-name">{{ include.icon.basename }}</span>
    <span class="icon-tags">{{ tags }}</span>
  </div>
</li>