{% assign total = site.static_files | where_exp: "file", "file.path contains 'assets/icons'" | size %}
<div class="icons container" id="js-icons">
  <div class="search-form">
    <input type="text" class="search-input search" placeholder="Search {{ total }} icons"/>
    {% include_relative assets/icons/search.svg %}
  </div>
  <ul class="icons-grid list">
    {% for file in site.static_files %}
      {% if file.path contains 'icons/' %}
        {% include_cached icon.html icon=file %}
      {% endif %}
    {% endfor %}
  </ul>
</div>