.i {
  width: var(--i-size, 24px);
  height: var(--i-size, 24px);
  display: block;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.icons {
  --preview-gap: 3px;
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
    gap: var(--layout-gap);
    margin: 0;
  }
}

.icon {
  $this: &;

  border-radius: .5rem;
  position: relative;
  padding-bottom: 100%;
  border: 1px solid var(--color-border);
  overflow: hidden;

  &.copied {
    border-color: var(--accent);
    --color-name: var(--accent);
  }

  &:hover {
    border-color: var(--accent);

    #{$this}-preview {
      transform: translateY(-1rem);
    }
  }

  &:not(:hover) {
    #{$this}-actions {
      opacity: 0;
      transform: translateY(2rem);
    }
  }


  &-preview {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--layout-gap);
    transition: transform var(--duration);
  }

  &-name {
    color: var(--color-name, var(--color-text));

    &:hover {
      --color-name: var(--accent);
    }
  }

  &-svg {
    color: var(--color-title);
  }

  &-tags {
    display: none;
  }

  &-actions {
    position: absolute;
    z-index: 10;
    display: flex;
    inset: auto var(--preview-gap) var(--preview-gap);
    gap: var(--preview-gap);
    transition: transform var(--duration), opacity var(--duration);
    --i-size: 16px;
  }
}

.action {
  font-size: 14px;
  background-color: var(--bg-code);
  color: var(--color-text);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration);
  width: 100%;
  padding: 0.75rem 0;

  &:hover {
    background-color: var(--bg-code-hover);
  }
}