.preload {
  * {
    transition: none !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: var(--container);
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);

  @media (min-width: 768px) {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  &-logo {
    --i-size: 32px;
    color: var(--color-title);
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-version {
    font-size: .875rem;
    color: var(--color-code);
    background-color: var(--bg-code);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  &-menu {
    display: flex;
    gap: 1rem;
  }

  &-hero {
    padding-top: 4rem;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 5rem;
    }
  }
}

.share {
  &-on {
    display: flex;
    align-items: center;

    .i {
      transition: color var(--duration);
      margin-left: .5rem;
    }

    &:hover .i {
      color: #1DA1F2;
    }
  }
}


.hero {
  &-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--color-title);
    font-weight: 500;
  }

  &-summary {
    max-width: 500px;
    font-size: 1.125rem;
  }
}

.search {
  &-form {
    position: relative;
    margin-bottom: var(--layout-gap);

    &-wrapper {
      padding: 1.125rem;
      border-radius: 0.5rem;
      display: flex;
      gap: 1rem;
      transition: box-shadow var(--duration);
      border: 1px solid var(--color-border);
      background-color: var(--bg-form);
      color: var(--color-text);
      align-items: center;

      &:hover,
      &:active {
        border-color: var(--accent);
      }

      &:focus-within {
        border-color: var(--accent);
        box-shadow: 0 0 0px 3px var(--accent-focus);
      }

      svg {
        --mi-size: 24px;
        flex: none;
      }
    }
  }

  &-filter {
    flex: none;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid var(--color-border);

    &:hover {
      color: var(--accent);
    }

    &-item {
      &:hover {
        color: var(--accent);
      }
    }

    &-list {
      position: absolute;
      inset: 100% 0 auto auto;
      z-index: 100;
      background-color: var(--bg-form);
      box-shadow: var(--shadow-xl);
      padding: 1rem;
      transition: opacity var(--duration),transform var(--duration);
      max-height: 300px;
      border-radius: 0.5rem;
      overflow-y: auto;

      > * + * {
        margin-top: 0.25rem;
      }

      scrollbar-color: var(--color-border) transparent;
      scrollbar-width: thin;

      &:not(.is-active) {
        pointer-events: none;
        transform: translateY(1rem);
        opacity: 0;
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
      }
    
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 8px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-border);
        border-radius: 8px;
      }
    }
  }

  &-input {
    width: 100%;
    background-color: transparent;

    &:hover {
      border-color: var(--accent);
    }

    &::placeholder {
      color: var(--color-text);
    }

    &::-moz-placeholder {
      color: var(--color-text);
    }

    &::-webkit-input-placeholder {
      color: var(--color-text);
    }

    &:focus,
    &:active {
      outline: 0 none;
    }
  }
}

.footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
  border-top: 1px solid var(--color-border);

  strong {
    font-weight: 500;
  }
}