:root {
  --accent: #0284c7;
  --accent-focus: #e0f2fe;

  --bg: #fff;
  --bg-form: #fff;
  --bg-code: #f4f4f5;
  --bg-code-hover: #e4e4e7;

  --color-title: #09090b;
  --color-text: #71717a;
  --color-border: #e4e4e7;
  --color-code: #52525b;

  --container: 1200px;
  --color-selection: rgba(2, 133, 199, 0.2);

  --shadow-xl:0 15px 40px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .1);

  --layout-gap: 1rem; 
  --duration: 0.3s;

  &.dark {
    --accent: #a5b4fc;
    --accent-focus: #312e81;

    --bg: #09090b;
    --bg-form: #18181b;
    --bg-code: #18181b;
    --bg-code-hover: #3f3f46;

    --color-title: #fff;
    --color-text: #f4f4f5;
    --color-border: #3f3f46;
    --color-code: ##e4e4e7;
  }
}

html.dark .toggle-mode .i-sun,
html:not(.dark) .toggle-mode .i-moon {
    display: none;
}

